<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='modal_stripe.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('stripetest') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Store</h3>
        </div>
        <div class="jumbotron">
            <h1 class="display-3">Thank You</h1>
            <p class="lead">You will receive a link to The Product in your email.</p>
        </div>
        <footer class="footer">
            <p>&copy; Store 2021</p>
        </footer>
    </div>
</body>
</html>